.chat_container {
  height: 30rem;
  width: 30rem;
  background: rgb(114, 214, 240);
  color: white;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 0.5rem;

  position: absolute;
  left: 30rem;
  z-index: 10;
  bottom: 2rem;
}
.chat_container:active {
  cursor: grab;
}

.chat_box_container {
  height: 20rem;
  width: 20rem;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.chat_input_container {
  display: flex;
  padding: 0.5rem;
}
.chat_input_container button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.chat_input_container input {
  width: 62%;
}
.chat_input_container input:focus {
  outline: none;
}
.chattext_style {
  color: blueviolet;
}
.on {
  display: block;
}
.off {
  display: none;
}
.chat_container {
  user-select: none;
}
