.register_container {
  background-image: url("../../../img/banner1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  overflow: hidden;
  position: relative;
  

  right: 40px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_frm {
  position: relative;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register_frm input {
  height: 2rem;
  /* border: none; */
  margin: 1rem;
  width: 90%;
  background: rgba(0, 0, 0, 0.1);
}
.register_frm input:focus {
  outline: none;
}
.register_frm button {
  height: 3rem;
  margin: 1rem 0;
  background-color: rgb(74, 74, 74);
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
}
.register_frm button:hover {
  background-color: rgb(90, 90, 90);
}
.register_frm button:disabled {
  background-color: #ccc;
  color: rgb(29, 29, 29);
  border-color: #ccc;
  cursor: not-allowed;
}
.register_frm h1 {
  opacity: 0.5;
}
.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.register_frm div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_frm div p{
    opacity: 0.7;
}

.register_frm div a{
    color: blue;
    text-decoration: none;
}